<p>
    <div class="form-group">
        [
        @if (Session["sClient"] == null)
        {
            <b>All</b>
        }
        else
        {
            <b>@Session["sClient"]</b>
        }
        ]        
    @Html.ActionLink("Change Client", "Index", "Home", new { area = ""}, null)
    </div>
    
</p>

